.input--text{
    display: block;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
    background-color: var(--black);
    border-radius: 0.15rem;
    border: none;
    padding: 0.4rem 0.3rem;
    width: 95%;
    color: whitesmoke;
    font-size: 90%;

    &:focus{
        border: none;
        outline: solid 0.1rem var(--mantis);
    }
}

.sumbit--button{
    padding: 0.4rem 0.8rem;
    font-size: 90%;
    margin-top: 0.4rem;
}

.bloc--note{
    min-height: 60vh;
    background-color: var(--jet);
    border-radius: 0.15rem;
    outline: solid 0.1rem var(--forest-green);
    padding: 0.5rem;

    & code{
        display: block;
        width: 100%;
        min-height: 60vh;
    }
}