@font-face {
    font-family: "BitstromWera";
    src: local("BitstromWera"),
        url("../font/BitstromWeraNerdFont-Regular.ttf");
}

:root{
    font-family: "BitstromWera";
    font-size: 3vmin;

    --jet: hsla(240, 1%, 22%, 1);
    --dim-gray: hsla(0, 0%, 39%, 1);
    --forest-green: hsla(114, 40%, 41%, 1);
    --mantis: hsla(114, 44%, 52%, 1);
    --black: hsla(0, 0%, 15%, 1);
    --shade: hsla(0, 0%, 10%, 1);
}

body.admin{
    --mantis: dodgerblue;
    --forest-green: steelblue;

    & img{
        scale: 0.7;
    }
}

kbd{
    background-color: whitesmoke;
    color: var(--jet);
    border: 0.1rem var(--forest-green) solid;
    border-radius: 0.2rem;
    padding: 0.1rem;
}

a{
    text-decoration: none;
    color: var(--forest-green);
    transition: color 0.3s;

    &:active {
        color: var(--mantis);
    }

    &:hover{
        color: whitesmoke;
    }
}

button{
    background-color: whitesmoke;
    transition: background-color 0.2s;
    border: none    ;
    border-radius: 0.15rem;

    &:hover{
        background-color: lightgray;
    }

    &:focus{
        background-color: var(--forest-green);
    }

    &[data-actif="true"]{
        background-color: var(--forest-green);
    }
}

.bg-jet{
    background-color: var(--jet);
}
.bg-gray{
    background-color: var(--dim-gray);
}
.bg-forest{
    background-color: var(--forest-green);
}
.bg-mantis{
    background-color: var(--mantis);
}
.bg-black{
    background-color: var(--black);
}
.bg-white{
    background-color: whitesmoke;
}
.bg-dodger{
    background-color: dodgerblue;
}
.bg-steel{
    background-color: steelblue;
}

.txt-jet{
    color: var(--jet);
}
.txt-gray{
    color: var(--dim-gray);
}
.txt-forest{
    color: var(--forest-green);
}
.txt-mantis{
    color: var(--mantis);
}
.txt-black{
    color: var(--black);
}
.txt-white{
    color: whitesmoke;
}
.txt-dodger{
    color: dodgerblue;
}
.txt-steel{
    color: steelblue;
}

.bs-top-gray{
    box-shadow: 0 -0.05rem 0.2rem var(--dim-gray);
}
.bs-top-jet{
    box-shadow: 0 -0.05rem 0.2rem var(--jet);
}
.bs-top-shade{
    box-shadow: 0 -0.05rem 0.2rem var(--shade);
}
.bs-bot-gray{
    box-shadow: 0 0.05rem 0.2rem var(--dim-gray);
}
.bs-bot-jet{
    box-shadow: 0 0.05rem 0.2rem var(--jet);
}
.bs-bot-shade{
    box-shadow: 0 0.05rem 0.2rem var(--shade);
}

.small-txt{
    font-size: 80%;
}

.br-15{
    border-radius: 0.15rem;
}

.nav-button{
    transition: background-color 0.3s,
                border-color 0.3s;
    border-bottom: 0.2rem solid var(--jet);
    &:hover{
        background-color: var(--black);
        border-bottom: 0.2rem solid var(--mantis);
    }
    &:active{
        background-color: var(--black);
        border-bottom: 0.2rem solid var(--mantis);
    }
}

.header-caroussel{
    --shown-pos: 90% center;
    --hidden-pos: 0% center;

    background-image: linear-gradient(to right, var(--black) 55%, transparent 95%),
                    url("../img/crunchyroll.svg");
    background-position: var(--shown-pos);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    animation: BackgroundSlide infinite 20s ease-out forwards;
}
@keyframes BackgroundSlide {
    0%, 23%{
        background-image: linear-gradient(to right, var(--black) 55%, transparent 95%),
                        url("../img/crunchyroll.svg");
        background-position: var(--shown-pos);
    }
    24%{
        background-position: var(--hidden-pos);
    }
    
    25%, 48%{
        background-position: var(--shown-pos);
        background-image: linear-gradient(to right, var(--black) 55%, transparent 95%),
                        url("../img/deezer.svg");
    }
    49%{
        background-position: var(--hidden-pos);
    }

    50%, 73%{
        background-position: var(--shown-pos);
        background-image: linear-gradient(to right, var(--black) 55%, transparent 95%),
                        url("../img/geforce.svg");
    }
    74%{
        background-position: var(--hidden-pos);
    }

    75%, 98%{
        background-position: var(--shown-pos);
        background-image: linear-gradient(to right, var(--black) 55%, transparent 95%),
                        url("../img/steam.svg");
    }
    99%{
        background-position: var(--hidden-pos);
    }
    100%{
        background-image: linear-gradient(to right, var(--black) 55%, transparent 95%),
                        url("../img/crunchyroll.svg");
        background-position: var(--shown-pos);
    }
}

.back-link{
    border-radius: 0.2rem;

    &:hover{
        background-color: var(--mantis);
    }
}