.main__nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &> a{
        padding: 0.5rem 1rem;
        padding-top: 1rem;
    }

    &[data-last="end"] > a:last-of-type{
        position: absolute;
        right: 0;
    }
}

.main__header{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5rem;

    & > h1{
        margin-top: 0;
        margin-bottom: 5rem;
    }

    & > p{
        margin-top: 0;
    }
}

/* Devs class */
.border{
    outline: dashed 2px violet;
    background-color: gainsboro;
}