body{
    min-height: 100vh;
}

.main__nav{
    --nav-height: 3.5rem;
    --a-padding: 0.8rem;
    --a-padding-top: calc(var(--a-padding) * 1.6);

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: var(--nav-height);

    & > a{
        display: block;
        padding: var(--a-padding);
        padding-top: var(--a-padding-top);
    }
    & > a:has(img){
        padding: 0 calc(var(--a-padding)/1.8);
        display: flex;
        align-items: center;
    }
    & img{
        width: 3rem;
    }

    &[data-last="end"] {
        & > a:last-of-type{
            position: absolute;
            height: calc(var(--nav-height) - var(--a-padding) - var(--a-padding-top) -0.2rem);
            right: 0;
        }
        
        & > a:last-of-type:has(img){
            position: absolute;
            height: calc(var(--nav-height) - 0.2rem);
            right: 0;
        }
    }
}

.main__header{
    height: 50vh;
    max-height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & > h1{
        margin-top: 0;
        margin-bottom: 5rem;
    }

    & > p{
        margin-top: 0;
    }
}

.main__footer{
    height: 20vh;
    max-height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.text__section{
    padding: 0.3rem 0;

    & > h2{
        margin: 0.7rem 0;
    }

    & > p{
        margin: 0.5rem 0;
        text-justify: inter-word;
    }
}

.vertical__flow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media screen and (max-aspect-ratio: 12/10){
        flex-wrap: wrap;
    }
}

.main__container{
    padding: 1rem 5rem;
}

.small__container{
    padding: 0.5rem;
}

.back__link{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    display: block;

    & > img{
        width: 100%;
    }
}

.connection__pannel{
    box-sizing: border-box;
    margin: auto;
    margin-top: 10vmin;
    width: 70vmin;
    min-height: 50vmin;
    padding: 1rem;

    & > h3{
        width: fit-content;
        margin: auto;
        margin-bottom: 2rem;
    }
}